.github
.evidence/
scripts

sources/roaep/

.npmrc
package-lock.json
package.json
evidence.plugins.yaml
.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta

*_obsolete*
*.code-workspace*

.vscode 

# Logs
logs
*.log
 
# Dependency directories
node_modules/
 
# Optional npm cache directory
.npm

# dotenv environment variable files
.env
 
# parcel-bundler cache (https://parceljs.org/)
.cache

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp
.cache

 